{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class='container header-container'>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class='container'>
        <div class='row'>
            <div class='col-12'>
                <div class="container center-me">
                    <h3 class='display-4 logo-font text-black justify-content-center align-content-center'>
                        Treat yourself in 2022
                    </h3>
                    <a href="{% url 'products' %}" class="center-me shop-button btn btn-lg rounder-0 text-uppercase py-3 row d-flex justify-content-center align-content-center">
                        ENTER OUR SHOP NOW!
                    </a>    
                </div>
            </div>
        </div>
    </div>
{% endblock %}