{% extends "base.html" %}
{% load static %}
{% load basket_tools %}

{% block page_header %}
    <div class='container header-container'>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container mb-2">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="logo-font text-center mb-4">Shopping Basket</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            <div class="col">
                {% if basket_items %}
                    <div class="table-responsive rounded">
                        <table class="table table-sm table-borderless">
                            <thread class="text-black">
                                <tr>
                                    <th scope="col">Product Info</th>
                                    <th scope="col"></th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Update Quantity</th>
                                    <th scope="col">Subtotal</th>
                                </tr>
                            </thread>

                            {% for item in basket_items %}
                                <tr>
                                    <td class="p-3 w-25">
                                        {% if item.product.image %}
                                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                        {% else %}
                                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}">
                                        {% endif %}
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                        <p class="my-0">{% if item.product.has_sizes %}<strong>Size: </strong>{{ item.size|upper }}{% endif %}</p>
                                        <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <p class="my-0">{{ item.quantity }}</p>
                                    </td>
                                    <td class="py-3 w-25">
                                        <form class="form update-form" method="POST" action="{% url 'adjust_basket' item.item_id %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="decrement-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-minus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                    <input class="form-control form-control-sm qty_input" type="number" 
                                                        name="quantity" value="{{ item.quantity }}" min="1" max="99" 
                                                        data-item_id="{{ item.item_id}}" 
                                                        id="id_qty_{{ item.item_id }}">
                                                    <div class="input-group-append">
                                                        <button class="increment-qty btn btn-sm btn-black rounded-0" 
                                                            data-item_id="{{ item.item_id }}" id="increment-qty_{{ item.item_id }}">
                                                            <span>
                                                                <i class="fas fa-plus fa-sm"></i>
                                                            </span>
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                        <button class="btn update-link text-info"><small>Update</small></button>
                                        <button class="btn remove-item text-danger float-right" id="remove_{{ item.item_id }}" 
                                            data-product_size="{{ item.size }}"><small>Remove</small></button>
                                    </td>
                                    <td class="py-3">
                                        <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="5" class="pt-5 text-right">
                                    <h6><strong>Basket Total: £{{ total|floatformat:2 }}</strong></h6>
                                    <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                                    <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                                    {% if free_delivery_delta > 0 %}
                                        <p class="mb-1 text-danger">
                                            You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                                        </p>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="5" class="text-right">
                                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                                        <span class="icon">
                                            <i class="fas fa-chevron-left"></i>
                                        </span>
                                        <span class="text-uppercase">Add more treats</span>
                                    </a>
                                    <a href="{% url 'checkout' %}" class="btn btn-black rounded-0 btn-lg">
                                        <span class="text-uppercase">Secure Checkout</span>
                                        <span class="icon">
                                            <i class="fas fa-lock"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </div>
                {% else %}
                    <p class="lead mb=5">Your basket is empty</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Treat Yourself</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        let form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        let csrfToken = "{{ csrf_token }}";
        let itemId = $(this).attr('id').split('remove_')[1];
        let size = $(this).data('product_size');
        let url = `/basket/remove/${itemId}/`;
        let data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}