<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="pic-n-mix-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Pic 'N' Mix
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="pic-n-mix-link">
                <a href="" class="dropdown-item">Fizzy Sweets</a>
                <a href="" class="dropdown-item">Jelly & Foam Sweets</a>
                <a href="" class="dropdown-item">Chocolate & Toffee Sweets</a>
                <a href="" class="dropdown-item">Traditional Sweets</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Sweets</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="confectionary-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Confectionary
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="confectionary-link">
                <a href="" class="dropdown-item">Chocolate</a>
                <a href="" class="dropdown-item">Retro</a>
                <a href="" class="dropdown-item">Fudge</a>
                <a href="" class="dropdown-item">All Confectionary</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="snacks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Snacks and More
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="snacks-link">
                <a href="" class="dropdown-item">Snacks</a>
                <a href="" class="dropdown-item">Gift Boxes & Baskets</a>
                <a href="" class="dropdown-item">Sweet Hampers</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>