{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row text-centered">
        <div class="col-12">
            <h2 class="">403 ERROR!</h2>
            <p>You don't have access to this page!</p>
            <h3>Click <a href="{% url 'products' %}">here</a> to go back to the shop</h3>
        </div>
    </div>
</div>
{% endblock %}
